/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #fceff1; /* Cor de fundo suave */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #fcb3d2; /* Rosa claro */
    text-align: center;
    padding: 20px;
    color: #fff;
}

h1 {
    margin: 0;
}

/* Estilo para a foto da aniversariante */
#foto-aniversariante img {
    border-radius: 50%; /* Faz a imagem ficar redonda */
    width: 150px;
    height: 150px;
}

#foto-aniversariante {
    text-align: center;
    margin-top: 20px;
}

/* Lista de produtos */
.lista-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

/* Cada produto */
.produto {
    background-color: #fff;
    border: 1px solid #fcb3d2; /* Borda rosa */
    border-radius: 8px;
    padding: 10px;
    width: 22%; /* Faz com que 4 produtos apareçam por linha */
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    background-color: #fcb3d2; /* Rosa claro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #f79cbb;
}

.preco {
    font-size: 1.2em;
    color: #e91e63;
    margin: 10px 0;
}

/* Estilo para o carrinho */
#carrinho {
    font-size: 1.1em;
    background-color: #fcb3d2;
    padding: 15px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#carrinho .numero-itens {
    font-weight: bold;
    font-size: 1.5em;
}

/* Botão de "Ver Carrinho" */
#link-carrinho {
    background-color: #f79cbb;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#link-carrinho:hover {
    background-color: #fcb3d2;
}
